In [1]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np

In [2]:
products_rules = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project/recom_system_by_products.csv')
catg_rules = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project/recom_system_by_catg.csv')
catg_prices = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project/category_prices.csv')
order_items_data = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project final/data/olist_order_items_dataset.csv')
products_data = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project final/data/olist_products_dataset.csv')
translation_data = pd.read_csv('/Users/layzon/Documents/code/modulo_3/project final/data/product_category_name_translation.csv')
category_translations = dict(zip(translation_data['product_category_name'],translation_data['product_category_name_english']))
products_data = products_data.replace({'product_category_name':category_translations})

In [3]:
products_data = products_data[["product_id","product_category_name"]]
products_data = pd.merge(products_data, order_items_data, on='product_id', how='inner')
products_data = products_data[["product_id","product_category_name", "price"]]
products_data = products_data.drop_duplicates(subset = ["product_id"])

In [4]:
products_rules["antecedents"] = products_rules.antecedents.str.replace('[({})]','')
products_rules["antecedents"] = products_rules.antecedents.str.replace('frozenset','')
products_rules["antecedents"] = products_rules.antecedents.str.replace("[']",'')
products_rules["consequents"] = products_rules.consequents.str.replace('[({})]','')
products_rules["consequents"] = products_rules.consequents.str.replace('frozenset','')
products_rules["consequents"] = products_rules.consequents.str.replace("[']",'')

In [5]:
products_rules

                        antecedents                       consequents  antecedent support  consequent support   support  confidence        lift  leverage  conviction
0  3f14d740544f37ece8a9e7bc8349797e  36f60d45225e60c7da4558b070ce4b60            0.000833            0.001141  0.000123    0.148148  129.804471  0.000122    1.172573
1  36f60d45225e60c7da4558b070ce4b60  3f14d740544f37ece8a9e7bc8349797e            0.001141            0.000833  0.000123    0.108108  129.804471  0.000122    1.120278
2  422879e10f46682990de24d770e7f83d  389d119b48cf3043d311335e499d9c6b            0.003619            0.003198  0.000113    0.031250    9.772508  0.000102    1.028957
3  389d119b48cf3043d311335e499d9c6b  422879e10f46682990de24d770e7f83d            0.003198            0.003619  0.000113    0.035370    9.772508  0.000102    1.032915
4  35afc973633aaeb6b877ff57b2793310  99a4788cb24856965c36a24e339b6058            0.001604            0.004802  0.000298    0.185897   38.714435  0.000290    1.222448
5  99a4788cb24856965c36a24e339b6058  35afc973633aaeb6b877ff57b2793310            0.004802            0.001604  0.000298    0.062099   38.714435  0.000290    1.064500
6  e53e557d5a159f5aa2c5e995dfdf244b  36f60d45225e60c7da4558b070ce4b60            0.001604            0.001141  0.000350    0.217949  190.962347  0.000348    1.277229
7  36f60d45225e60c7da4558b070ce4b60  e53e557d5a159f5aa2c5e995dfdf244b            0.001141            0.001604  0.000350    0.306306  190.962347  0.000348    1.439246
8  4fcb3d9a5f4871e8362dfedbdb02b064  f4f67ccaece962d013a4e1d7dc3a61f7            0.000915            0.000576  0.000175    0.191011  331.731942  0.000174    1.235399
9  f4f67ccaece962d013a4e1d7dc3a61f7  4fcb3d9a5f4871e8362dfedbdb02b064            0.000576            0.000915  0.000175    0.303571  331.731942  0.000174    1.434583

In [6]:
catg_rules
catg_rules["antecedents"] =  catg_rules.antecedents.str.replace('[({})]','')
catg_rules["antecedents"] = catg_rules.antecedents.str.replace('frozenset','')
catg_rules["antecedents"] = catg_rules.antecedents.str.replace("[']",'')
catg_rules["consequents"] = catg_rules.consequents.str.replace('[({})]','')
catg_rules["consequents"] = catg_rules.consequents.str.replace('frozenset','')
catg_rules["consequents"] = catg_rules.consequents.str.replace("[']",'')

In [7]:
catg_rules

                               antecedents     consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
0                             home_confort  bed_bath_table            0.004082            0.096827  0.000442    0.108312   1.118618  0.000047    1.012881
1                         cool_stuff, auto  bed_bath_table            0.000031            0.096827  0.000010    0.333333   3.442568  0.000007    1.354760
2  garden_tools, construction_tools_lights  bed_bath_table            0.000010            0.096827  0.000010    1.000000  10.327705  0.000009         inf
3            furniture_decor, home_confort  bed_bath_table            0.000062            0.096827  0.000010    0.166667   1.721284  0.000004    1.083808
4        office_furniture, furniture_decor  bed_bath_table            0.000041            0.096827  0.000010    0.250000   2.581926  0.000006    1.204231
5                  market_place, perfumery  bed_bath_table            0.000010            0.096827  0.000010    1.000000  10.327705  0.000009         inf

In [8]:
products_data

                              product_id      product_category_name   price
0       1e9e8ef04dbcff4541ed26657ea517e5                  perfumery   10.91
1       3aa071139cb16b67ca9e5dea641aaa2f                        art  248.00
2       96bd76ec8810374ed1b65e291975717f             sports_leisure   79.80
3       cef67bcfe19066a932b7673e239eb23d                       baby  112.30
4       9dc1a7de274444849c219cff195d0b71                 housewares   37.90
...                                  ...                        ...     ...
112602  a0b7d5a992ccda646f2d34e418fff5a0            furniture_decor   69.90
112635  bf4538d88321d0fd4412a93c974510e6  construction_tools_lights  160.00
112637  9a7c6041fa9592d9d9ef6cfe62a71f8c             bed_bath_table  127.00
112642  83808703fc0706a22e264b9d75f04a2e      computers_accessories   39.71
112649  106392145fca363410d287a815be6de4             bed_bath_table  107.50

[32951 rows x 3 columns]

In [9]:
products_recomend  = products_rules[["antecedents"]].drop_duplicates().reset_index(drop=True)
products_recomend["antecedents"] =   products_recomend.rename(columns={"antecedents": "product_id"}, inplace = True)
products_recomend = products_recomend[["product_id"]] 
products_recomend  = pd.merge( products_recomend, products_data, on='product_id', how='left')
products_recomend

                         product_id  product_category_name   price
0  3f14d740544f37ece8a9e7bc8349797e  computers_accessories   84.90
1  36f60d45225e60c7da4558b070ce4b60  computers_accessories   88.00
2  422879e10f46682990de24d770e7f83d           garden_tools   53.90
3  389d119b48cf3043d311335e499d9c6b           garden_tools   49.90
4  35afc973633aaeb6b877ff57b2793310           home_confort   77.90
5  99a4788cb24856965c36a24e339b6058         bed_bath_table   74.00
6  e53e557d5a159f5aa2c5e995dfdf244b  computers_accessories   77.90
7  4fcb3d9a5f4871e8362dfedbdb02b064                   auto  143.80
8  f4f67ccaece962d013a4e1d7dc3a61f7                   auto  229.04

In [10]:
order = order_items_data.copy()
order["recomendation"]= np.where(order_items_data['product_id']== '422879e10f46682990de24d770e7f83d', "389d119b48cf3043d311335e499d9c6b",\
         np.where(order_items_data['product_id']== '389d119b48cf3043d311335e499d9c6b', "422879e10f46682990de24d770e7f83d",\
                  np.where(order_items_data['product_id']== '35afc973633aaeb6b877ff57b2793310', "99a4788cb24856965c36a24e339b6058",
                           np.where(order_items_data['product_id']== '99a4788cb24856965c36a24e339b6058', "35afc973633aaeb6b877ff57b2793310",
                                    np.where(order_items_data['product_id']== 'e53e557d5a159f5aa2c5e995dfdf244b', "36f60d45225e60c7da4558b070ce4b60",
                                             np.where(order_items_data['product_id']== '36f60d45225e60c7da4558b070ce4b60', "e53e557d5a159f5aa2c5e995dfdf244b",
                                                      np.where(order_items_data['product_id']== '4fcb3d9a5f4871e8362dfedbdb02b064', "f4f67ccaece962d013a4e1d7dc3a61f7",np.nan)))))))
#order_items_data[order_items_data.product_id =="3f14d740544f37ece8a9e7bc8349797e"]
order.recomendation.value_counts()

nan                                 110722
35afc973633aaeb6b877ff57b2793310       488
389d119b48cf3043d311335e499d9c6b       484
422879e10f46682990de24d770e7f83d       392
36f60d45225e60c7da4558b070ce4b60       183
99a4788cb24856965c36a24e339b6058       165
e53e557d5a159f5aa2c5e995dfdf244b       127
f4f67ccaece962d013a4e1d7dc3a61f7        89
Name: recomendation, dtype: int64

In [21]:
order_items_data.price.sum()

13591643.700000003

In [11]:
#np.where(order_items_data['product_id']== '3f14d740544f37ece8a9e7bc8349797e', "36f60d45225e60c7da4558b070ce4b60", np.where(order_items_data['product_id']== '36f60d45225e60c7da4558b070ce4b60', "3f14d740544f37ece8a9e7bc8349797e",\

In [12]:
order

                                order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value recomendation
0       00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35   58.90          13.29           nan
1       00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13  239.90          19.93           nan
2       000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30  199.00          17.87           nan
3       00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18   12.99          12.79           nan
4       00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51  199.90          18.14           nan
...                                  ...            ...                               ...                               ...                  ...     ...            ...           ...
112645  fffc94f6ce00a00581880bf54a75a037              1  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c  2018-05-02 04:11:01  299.99          43.41           nan
112646  fffcd46ef2263f404302a634eb57f7eb              1  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182  2018-07-20 04:31:48  350.00          36.53           nan
112647  fffce4705a9662cd70adb13d4a31832d              1  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53  2017-10-30 17:14:25   99.90          16.95           nan
112648  fffe18544ffabc95dfada21779c9644f              1  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79  2017-08-21 00:04:32   55.99           8.72           nan
112649  fffe41c64501cc87c801fd61db3f6244              1  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1  2018-06-12 17:10:13   43.00          12.79           nan

[112650 rows x 8 columns]

In [13]:
asd = pd.merge( order, products_recomend, on='product_id', how = "left" )
#asd = pd.merge( order, products_recomend, left_on='product_id', right_on='product_id' )

In [ ]:
asd

In [36]:
asd2 = asd[asd.recomendation != "nan"]

asd2["final"] = (asd2.price_y+ asd2.freight_value) * asd2.order_item_id
asd2

<ipython-input-36-72db169417cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asd2["final"] = (asd2.price_y+ asd2.freight_value) * asd2.order_item_id

                                order_id  order_item_id                        product_id                         seller_id  shipping_limit_date  price_x  freight_value                     recomendation  product_category_name  price_y   final
12      0006ec9db01a64e59a68b2c340bf65a7              1  99a4788cb24856965c36a24e339b6058  4a3ca9315b744ce9f8e9374361493884  2018-07-26 17:24:20     74.0          23.32  35afc973633aaeb6b877ff57b2793310         bed_bath_table     74.0   97.32
126     0049edf42837aa808e03552a62bd2158              1  389d119b48cf3043d311335e499d9c6b  1f50f920176fa81dab994f9023523100  2018-01-05 12:48:10     49.9          17.60  422879e10f46682990de24d770e7f83d           garden_tools     49.9   67.50
169     0068fb0e223115e911d362627e8b8800              1  e53e557d5a159f5aa2c5e995dfdf244b  88460e8ebdecbfecb5f9601833981930  2018-07-31 02:50:11     77.9          13.89  36f60d45225e60c7da4558b070ce4b60  computers_accessories     77.9   91.79
316     00c763284c0056eed753352f5559ff0a              1  99a4788cb24856965c36a24e339b6058  4a3ca9315b744ce9f8e9374361493884  2018-06-11 00:10:44     79.9          14.65  35afc973633aaeb6b877ff57b2793310         bed_bath_table     74.0   88.65
390     00f251b943aba645652c7138e4716fee              1  35afc973633aaeb6b877ff57b2793310  4a3ca9315b744ce9f8e9374361493884  2018-08-15 11:44:26     77.9          23.35  99a4788cb24856965c36a24e339b6058           home_confort     77.9  101.25
...                                  ...            ...                               ...                               ...                  ...      ...            ...                               ...                    ...      ...     ...
112240  fefec2fe5879ab8f730148f2de0c0c6e              1  35afc973633aaeb6b877ff57b2793310  4a3ca9315b744ce9f8e9374361493884  2017-10-19 13:06:33     89.9          17.88  99a4788cb24856965c36a24e339b6058           home_confort     77.9   95.78
112243  ff00a56fe9475a175cd651d77c707a09              1  99a4788cb24856965c36a24e339b6058  4a3ca9315b744ce9f8e9374361493884  2017-11-30 01:10:14     89.9           4.63  35afc973633aaeb6b877ff57b2793310         bed_bath_table     74.0   78.63
112244  ff00a56fe9475a175cd651d77c707a09              2  35afc973633aaeb6b877ff57b2793310  4a3ca9315b744ce9f8e9374361493884  2017-11-30 01:10:14     89.9           4.63  99a4788cb24856965c36a24e339b6058           home_confort     77.9  165.06
112358  ff3d961f941d0784936dbe5da739575e              1  35afc973633aaeb6b877ff57b2793310  4a3ca9315b744ce9f8e9374361493884  2018-03-13 18:15:44     86.9          57.16  99a4788cb24856965c36a24e339b6058           home_confort     77.9  135.06
112435  ff79282c8f4c58df02fde009ad02d009              1  99a4788cb24856965c36a24e339b6058  53d00c40e32aeb924a84ce72b1af869d  2018-04-25 12:53:28     86.0          20.86  35afc973633aaeb6b877ff57b2793310         bed_bath_table     74.0   94.86

[1928 rows x 11 columns]

In [37]:
order_items_data
order_items_data["final"] = (order_items_data.price + order_items_data.freight_value)* order_items_data.order_item_id
order_items_data

                                order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value   final
0       00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35   58.90          13.29   72.19
1       00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13  239.90          19.93  259.83
2       000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30  199.00          17.87  216.87
3       00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18   12.99          12.79   25.78
4       00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51  199.90          18.14  218.04
...                                  ...            ...                               ...                               ...                  ...     ...            ...     ...
112645  fffc94f6ce00a00581880bf54a75a037              1  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c  2018-05-02 04:11:01  299.99          43.41  343.40
112646  fffcd46ef2263f404302a634eb57f7eb              1  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182  2018-07-20 04:31:48  350.00          36.53  386.53
112647  fffce4705a9662cd70adb13d4a31832d              1  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53  2017-10-30 17:14:25   99.90          16.95  116.85
112648  fffe18544ffabc95dfada21779c9644f              1  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79  2017-08-21 00:04:32   55.99           8.72   64.71
112649  fffe41c64501cc87c801fd61db3f6244              1  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1  2018-06-12 17:10:13   43.00          12.79   55.79

[112650 rows x 8 columns]

In [41]:
print("Reales generados por recomendación" , asd2.final.sum())
print("Ingresos totales" ,order_items_data.final.sum())

Reales generados por recomendación 220076.61
Ingresos totales 18058265.330000002

In [45]:
print("crecimiento" , asd2.price_y.sum() /order_items_data.price.sum())

crecimiento 0.009773931689205513

In [ ]:
order_items_data["price"]= np.where(order_items_data['product_id']== '3f14d740544f37ece8a9e7bc8349797e', "36f60d45225e60c7da4558b070ce4b60", np.where(order_items_data['product_id']== '36f60d45225e60c7da4558b070ce4b60', "3f14d740544f37ece8a9e7bc8349797e",\
np.where(order_items_data['product_id']== '422879e10f46682990de24d770e7f83d', "389d119b48cf3043d311335e499d9c6b",\
         np.where(order_items_data['product_id']== '389d119b48cf3043d311335e499d9c6b', "422879e10f46682990de24d770e7f83d",\
                  np.where(order_items_data['product_id']== '35afc973633aaeb6b877ff57b2793310', "99a4788cb24856965c36a24e339b6058",
                           np.where(order_items_data['product_id']== '99a4788cb24856965c36a24e339b6058', "35afc973633aaeb6b877ff57b2793310",
                                    np.where(order_items_data['product_id']== 'e53e557d5a159f5aa2c5e995dfdf244b', "36f60d45225e60c7da4558b070ce4b60",
                                             np.where(order_items_data['product_id']== '36f60d45225e60c7da4558b070ce4b60', "e53e557d5a159f5aa2c5e995dfdf244b",
                                                      np.where(order_items_data['product_id']== '4fcb3d9a5f4871e8362dfedbdb02b064', "f4f67ccaece962d013a4e1d7dc3a61f7",np.nan)))))))))
#order_items_data[order_items_data.product_id =="3f14d740544f37ece8a9e7bc8349797e"]
order_items_data.recomendation.value_counts()